mat-card {
  max-width: 400px;
  margin: 8em auto;
  text-align: center;
}

mat-form-field {
  display: block;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
