<mat-card>
  <mat-card-content>
    @if (!isLoading) {
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            name="username"
            required
            formControlName="email"
          />
          @if (loginForm.controls?.['email']?.errors?.['pattern']) {
          <mat-error> Please provide a valid email address </mat-error>
          } @else if (loginForm.controls?.['email']?.errors?.['required']) {
          <mat-error> Email is required </mat-error>
          }
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="password"
            placeholder="Password"
            name="password"
            required
            formControlName="password"
          />
          @if (loginForm.controls?.['password']?.errors?.['required']) {
          <mat-error> Password is required </mat-error>
          }
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
      </form>
    } @else {
      <div class="loader">
        <mat-spinner></mat-spinner>
      </div>
    }
  </mat-card-content>
</mat-card>
